google-cloud-speech>=2.33.0
google-cloud-storage>=3.3.0
langchain-core>=0.3.75
langchain-google-community>=2.0.7
langchain-google-genai>=2.1.10
numpy>=2.0.2
python-dotenv>=1.1.1
scipy>=1.11.0
soundfile>=0.13.1
streamlit>=1.49.1
streamlit-audiorec>=0.1.3
